<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <div class="container">
        <div class="chat-container">
            <div class="chat-box" id="chat-box">
                <div class="chat-message bot">Hola, ¿en qué puedo ayudarte?</div>
            </div>
            <div class="input-group">
                <input type="text" id="user-input" class="form-control" placeholder="Escribe un mensaje..." name="entrada">
                <div class="input-group-append">
                    <input id="send-btn" class="btn btn-primary" type="submit" value="enviar">
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="static/script.js"></script>
</body>
</html>
