.containerChat {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-container {
    height: 500px;
    max-width: 100%;
    border: 1px solid #ccc;
    background: #ffffff;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    overflow-y: auto;
    width: 90%;
    margin-bottom: 20px;
}

.input-group {
    width: calc(100% - 20px);
    max-width: 100%
}

.chat-box {
    margin-bottom: 10px;
    max-height: 400px;
    overflow-y: auto;
}

.chat-message {
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
}

.chat-message.bot {
    text-align: left;
}

.chat-message.user {
    text-align: right;
    background-color: #dcf8c6;
}


select, option{
    max-width: 200px;
}

